.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .nav-dropdown {

        .nav-dropdown-button {
            .dropdown-content {
                background-color: blue;
            }

            .dropdown-content-hidden {
                display: none;
            }

        }
    }

    .header-login-button {
        border: 1px solid black;
        size: 24px;

        h2 {

        }
    }
}