.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .nav-dropdown {

        .nav-dropdown-button {
            .dropdown-content {
                background-color: @color-parchment;
                a {
                    text-decoration: none;
                    color: @color-primary;
                }
            }

            .dropdown-content-hidden {
                display: none;
            }

        }
    }

    .header-title {
        &:h1 {
            font-family: @font-primary;
            color: @color-primary;
        }
    }

    .header-login-button {
        border: 1px solid black;
        padding: 8px 20px 8px 20px;
        border-radius: 8px;
        background-color: @color-secondary;
        color: @color-light;
        &:hover {
            background-color: @color-light;
            color: @color-secondary;
        }

        &:h2 {
            size: 24px;

        }
    }
}