html,
body {
  margin: 0;
  padding: 0;
}
html p,
body p {
  font-family: 'oxygen', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.width-100 {
  width: 100%;
}
button {
  background-color: none;
}
.header {
  height: 600px;
  padding-top: 30px;
}
@media (max-width: 500px) {
  .header {
    height: 275px;
  }
}
.header .nav-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 80%;
  padding: 8px 20px;
  height: 65px;
  background-color: #A8B2C480;
}
@media (max-width: 500px) {
  .header .nav-banner {
    flex-direction: column;
    height: 220px;
    width: 60%;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .header .nav-banner .nav-dropdown {
    display: none;
  }
}
.header .nav-banner .nav-dropdown .dropdown-content {
  background-color: #F1F1D4;
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #011E4C;
}
@media (max-width: 500px) {
  .header .nav-banner .nav-dropdown .dropdown-content {
    display: none;
  }
}
.header .nav-banner .nav-dropdown .dropdown-content a {
  text-decoration: none;
  color: #011E4C;
  font-size: 24px;
  padding: 15px 0;
}
.header .nav-banner .nav-dropdown .dropdown-content-hidden {
  display: none;
}
.header .nav-banner .header-title:h1 {
  font-family: 'cynzel';
  color: #011E4C;
}
.header .nav-banner a {
  text-decoration: none;
}
.header .nav-banner .mobile {
  display: none;
}
@media (max-width: 500px) {
  .header .nav-banner .mobile {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #011E4C;
    width: 100%;
    border-top: 2px solid #011E4C;
    border-bottom: 2px solid #011E4C;
    transition-duration: 0.4s;
    text-align: center;
    padding: 6px 0px;
  }
  .header .nav-banner .mobile:hover {
    color: #A8B2C4;
    background-color: #2E294E;
  }
}
.header .nav-banner .header-login-button {
  border: 3px solid #011E4C;
  padding: 6px 15px 6px 15px;
  font-size: 26px;
  margin: 0px;
  font-weight: bold;
  color: #011E4C;
  text-decoration: none;
  transition-duration: 0.4s;
  font-family: 'cynzel';
}
@media (max-width: 500px) {
  .header .nav-banner .header-login-button {
    width: 100%;
    border-top: 2px solid #011E4C;
    border-bottom: 2px solid #011E4C;
    border-left: none;
    border-right: none;
    font-weight: normal;
  }
}
.header .nav-banner .header-login-button:hover {
  background-color: #011E4C;
  color: #A8B2C4;
}
.header .cta-banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .header .cta-banner {
    display: none;
  }
}
.header .cta-banner .cta-motto {
  width: 350px;
  margin-left: 300px;
  background-color: #2E294EB3;
  color: #A8B2C4;
  padding: 20px;
  border-radius: 10px;
}
.header .cta-banner .cta-button {
  margin-right: 120px;
  padding: 6px 15px 6px 15px;
  border-radius: 12px;
  background-color: #011E4C;
  color: #A8B2C4;
  font-size: 26px;
  transition-duration: 0.4s;
  text-decoration: none;
  font-family: 'cynzel';
}
.header .cta-banner .cta-button:hover {
  border: 3px solid #011E4C;
  background-color: #A8B2C4;
  color: #011E4C;
}
@media (max-width: 500px) {
  .header .about-mission {
    display: none;
  }
}
.cta-mobile {
  display: none;
}
@media (max-width: 500px) {
  .cta-mobile {
    padding: 10px 10px;
    display: block;
    background-color: #2E294EB3;
  }
}
.cta-mobile .cta-motto h1 {
  font-size: 24px;
}
.cta-mobile .cta-button {
  width: 90%;
  padding: 6px 15px 6px 15px;
  background-color: #011E4C;
  color: #A8B2C4;
  font-size: 26px;
  transition-duration: 0.4s;
  text-decoration: none;
  font-family: 'cynzel';
  border-top: 2px solid #011E4C;
  border-bottom: 2px solid #011E4C;
  border-left: none;
  border-right: none;
  margin-top: 30px;
}
.cta-mobile .cta-button:hover {
  border: 3px solid #011E4C;
  background-color: #A8B2C4;
  color: #011E4C;
}
.about-mobile {
  display: none;
}
@media (max-width: 500px) {
  .about-mobile {
    display: block;
    background-color: #2E294EB3;
    padding: 10px 10px;
  }
}
.about-mobile .statement h1 {
  font-size: 24px;
}
#home {
  background-image: url('../../assets/HomeMainAlt.jpg');
}
#about {
  background-image: url('../../assets/AboutMain.jpg');
}
.home-info {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.home-info .content {
  width: 28%;
  border: 1px solid black;
  padding: 15px;
  background-color: #F1F1D4;
}
.home-info .content h3 {
  text-align: center;
  padding-bottom: 6px;
  font-size: 22px;
}
.home-info .content p {
  padding-bottom: 6px;
  font-size: 18px;
}
.currently-featured {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  border: 2px solid #011E4C;
  padding: 20px;
}
.currently-featured h2 {
  color: #011E4C;
  font-size: 24px;
}
.currently-featured .book-container {
  display: flex;
  max-height: 250px;
  max-width: 554px;
}
.currently-featured .book-container .book-img {
  width: auto;
}
.currently-featured .book-container .book-info {
  overflow: hidden;
  transition: max-width 0.3s ease-out;
  width: auto;
  max-width: 400px;
  padding-bottom: 30px;
}
.currently-featured .book-container .hidden-book {
  max-width: 0px;
}
.team-list-row {
  display: flex;
  display: center;
  width: 760px;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .team-list-row {
    flex-direction: column;
    margin-top: 0px;
  }
}
.team-list-row .card-1 {
  margin-right: 30px;
}
@media (max-width: 500px) {
  .team-list-row .card-1 {
    margin: 30px;
  }
}
.team-list-row .card-2 {
  margin-left: 30px;
}
@media (max-width: 500px) {
}
.card-1,
.card-2 {
  perspective: 1000px;
}
.card-1:hover .team-member,
.card-1.hover .team-member {
  transform: rotateY(-180deg);
}
.card-2:hover .team-member,
.card-2.hover .team-member {
  transform: rotateY(180deg);
}
.card-1,
.member-img,
.member-info {
  width: 350px;
  height: 200px;
}
.card-2,
.member-img,
.member-info {
  width: 350px;
  height: 200px;
}
.team-member {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.member-img,
.member-info {
  backface-visibility: hidden;
  background-color: #F1F1D4;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.member-img {
  z-index: 2;
}
.member-info {
  transform: rotateY(-180deg);
}
.card-2 .member-info {
  transform: rotateY(180deg);
}
.footer {
  background-color: #011E4C;
  color: #A8B2C4;
  margin-top: 40px;
  height: 200px;
}
