.featured-container {
    padding: 15px;
    background-color: @color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    .featured-header-container {
        max-width: 1100px;
        width: 100%;
        text-align: left;
        
        h2 {
            max-height: 30px;
            color: @color-light;
            letter-spacing: 1.4px;
            padding-bottom: 10px;
            font-family: @font-secondary;
        }
    }

    .currently-featured {
        display: flex;
        // padding-top: 40px;
        margin: 0 auto;

        border: 3px solid @color-teritary;
        border-radius: 8px;
        padding: 20px;
        background-color: @color-offwhite;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        h2 {
            color: @color-primary;
            font-size: 24px;
        }

        .book-container {
            display: flex;
            max-height: 250px;
            max-width: 554px;
            @media(max-width: 500px) {
                margin-bottom: 15px;
            }

            .book-img {
                width: auto;
                // max-width: 180px;
                // height: auto;
                // margin: auto 0;
            }

            .book-info {
                overflow: hidden;
                transition: max-width 0.3s ease-out;
                // min-width: 200px;
                max-width: 400px;
                margin: auto 0;

                .info-container {
                    width: 400px;

                    h4 {
                        // text-align: center;
                        padding: 0 8px;
                        line-height: 1.6;
                        font-size: 18px;
                        font-family: @font-base;
                    }

                    p {
                        padding: 0 8px;
                        line-height: 1.4;
                    }

                    .book-read-more {
                        .btn-primary(@color-secondary, @color-offwhite, @color-teritary);
                        width: 120px;
                        height: 30px;
                        font-size: 16px;
                        margin-left: 240px;
                    }

                    @media(max-width: 500px) {
                        transition: none;
                    }
                }
            }
            .hidden-book {
                max-width: 0px;

                @media(max-width: 500px){
                    max-width: 400px;
                }
            }
        }
    }
}