.headerabout {
    height: 600px;
    width: 100%;
    background: url('../assets/AboutMainModified.jpg') ;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media(max-width: 500px) {
        display: none;
    }
    .about-container {
        width: 80%;
        display: flex;
        justify-content: center;

        .about-team {
            width: 480px;
            margin-left: 300px;
            background-color:  #034732B3;  //70% - HEX Opacity https://gist.github.com/frankyonnetti/9400858
            padding: 20px;
            border-radius: 10px;

            h2 {
                color: @color-offwhite;
                font-size: 24px;
                line-height: 1.4;
            }
        }
    }
}

.about-mobile {
    display: none;
}

// .cta-mobile {
//     display: none;

//     @media(max-width: 500px) {
//         padding: 10px 10px;
//         display: block;
//         background-color:  #2E294EB3;
        
//     }

//     .cta-motto h1{
//         font-size: 24px;
//     }

//     .cta-button{
//         width: 90%;
//         padding: 6px 15px 6px 15px;
//         background-color: @color-primary;
//         color: @color-light;
//         font-size: 26px;
//         transition-duration: 0.4s;
//         text-decoration: none;
//         font-family: @font-primary;
//         border-top: 2px solid @color-primary;
//         border-bottom: 2px solid @color-primary;
//         border-left: none;
//         border-right: none;
//         margin-top: 30px;

//         &:hover {
//             border: 3px solid @color-primary;
//             background-color: @color-light;
//             color: @color-primary;
//         }
//     }
// }