@color-primary: #028090; // Metallic Seaweed
@color-secondary: #066339; // Cadmium Green
@color-teritary: #034732; // British Racing Green
@color-dark: #01172F; // Maastricht Blue
@color-light: #A8B2C4; // Wild Blue Yonder
@color-white: #F5F5F5; //White
@color-offwhite: #FCFCFC; //Off-white
@color-black: #020207; // off-black
@color-parchment: #F1F1D4; // Eggshell
@color-background: #f1f1f1;

@font-primary: 'Arvo';
@font-secondary: 'Raleway', Arial, sans-serif;
@font-base: 'Roboto', sans-serif;