.team-list-row {
    display: flex;

    .team-member {
        border: 1px solid black;
        padding: 15px;
        display: flex;
        background-color: @color-parchment;

        .member-img {

            img {
                width: auto;
                height: 100px;
            }
        }
        
        .member-info {
            
            .team-member-name {
                display: block;
            }
    
            .hidden-member-info {
                display: none;
            }
        }
    }

    .card-2 {
        flex-direction: row-reverse;
    }
}